<div class="grid-container">

  <div class="copy-intro">
    <p>
      This site provides a search tool for retrieving and displaying drug
      interactions between prescription medications, over-the-counter (OTC) 
      medications, and/or herbal supplements.
    </p>
    <p>
      This site does not create, modify, or store any information on drugs or 
      medications - it simply retrieves and displays data made available using 
      resources provided by the U.S. National Library of Medicine (NLM) and the 
      National Institutes of Health (NIH). From their website:
    </p>
    <p>
      "This product uses publicly available data from the U.S. National Library 
      of Medicine (NLM), National Institutes of Health, Department of Health and 
      Human Services; NLM is not responsible for the product and does not endorse 
      or recommend this or any other product."
    </p>
    <p>
      <a href="https://rxnav.nlm.nih.gov/APIsOverview.html">https://rxnav.nlm.nih.gov/APIsOverview.html</a>
    </p>
    <p>
      With that in mind, feel free to use this website to search for information on
      possible interactions between prescription medications, over-the-counter (OTC) 
      medications, and/or herbal supplement that you may find interesting or want
      to learn more about.
    </p>
  </div>

</div>
