
@import '../../colors';

$logo-size: calc(1rem + 0.75vw);

.mat-sidenav-container {
  height: 100%;
  & .mat-sidenav {            // Sidenav/Drawer Component
    min-width: min-content;
    width: 280px;
    & .mat-nav-list {
      & a {
        font-size: calc(1rem + 0.125vw);
      }
    }
    & .mat-toolbar {          // Sidenav/Drawer Component Header  
      background: inherit;
      justify-content: center;
      & .logo-svg {
        height: $logo-size;
        width: $logo-size;
      }
      & .logo-text {
        color: $primary-color;
        font-size: $logo-size;
        font-weight: 100;
        margin-left: calc(0.25rem + 0.25vw);
      }
    }
  }
  & .mat-sidenav-content {    // Main Content
    & .mat-toolbar {          // Main Content Header
      position: sticky;
      top: 0;
      z-index: 1;
      & h1 {
        margin: 0 auto;
      }
    }
  }
}