
@import '../../colors';

$logo-size: calc(1rem + 1vw);

.mat-sidenav-container {
  height: 100%;
  & .mat-sidenav .mat-toolbar {           // Sidenav header
    background: inherit;
    & .logo-svg {
      height: $logo-size;
      width: $logo-size;
      & #logo {
        height: 100%;
        width: 100%;
      }
    }
    & .logo-text {
      color: $primary-color;
      font-size: $logo-size;
      margin-left: calc(0.25rem + 0.25vw);
    }
  }
  & .mat-sidenav-content .mat-toolbar {   // Main content header
    position: sticky;
    top: 0;
    z-index: 1;
  }
}