@import '../../colors';

nav {
  align-items: center;
  display: flex;
  padding: calc(0.5rem + 0.5vw);
  .logo-svg {
    height: 50px;
    width: 50px;
  }
  
  .logo-text {
    color: $primary-color;
    font-size: 2rem;
    margin-left: calc(0.5rem + 0.5vw);
  }
}

