@import '../../colors';

// ---------- COPY ------------------------------------------------------------

%copy {
  color: white;
  font-size: calc(1rem + 0.125vw);
}

.copy-intro {
  background-color: $primary-color;
  grid-area: intro;
  @extend %copy;
}

.copy-disclaimer {
  background-color: $quarternary-color;
  grid-area: discl;
  @extend %copy;
}

// ---------- MAIN GRID -------------------------------------------------------

.grid-container {
  display: grid;
  grid-auto-rows: minmax(15vh, auto);
  grid-gap: calc(1rem + 1vw);
  grid-template-areas:
    "intro"
    "discl"
    "step1"
    "step2"
    "step3";
  grid-template-columns: 1fr;
  padding: calc(1rem + 1vw);
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
    ".     intro intro intro discl discl discl .    "
    ".     step1 step1 step1 step1 step1 step1 .    "
    ".     step2 step2 step2 step2 step2 step2 .    "
    ".     step3 step3 step3 step3 step3 step3 .    ";
    grid-template-columns: repeat(8, 1fr);
  }
}

// ---------- STEPS 1, 2, & 3 --------------------------------------------------

%steps {
  font-size: calc(1rem + 0.125vw);
  & h3 {
    color: $primary-color;
  }
}

%transition-hover {
  transition: 0.15s ease-in;
  &:hover {
    transition: 0.2s ease-out;
  }
}

$delete-button-size: calc(1rem + 0.5vw);

.step-1 {
  grid-area: step1;
  @extend %steps;
  & .delete-button-svg {
    fill: $primary-color;
    height: $delete-button-size;
    stroke: white;
    width: $delete-button-size;
    @extend %transition-hover;
    &:hover {
      cursor: pointer;
      fill: red;
    }
  }
  & mat-card-content {
    font-size: calc(1rem + 0.125vw);
  }
  & mat-card-title {
    color: $primary-color;
    font-size: calc(1rem + 0.5vw);
  }
  & mat-toolbar {
    & button {
      flex: 0 1 auto;
    }
    & h4 {
      flex: 1 1 auto;
    }
  }

  // Do not nest this within the "mat-toolbar" selector because mat-toolbar wraps
  // dynamically-*ngFor-generated <mat-toolbar-row> elements and those elements
  // can be created before the following & mat-form-field {} CSS rule has a 
  // chance to take effect.
  & mat-form-field {
    width: 100%;
  }
}

.step-2 {
  grid-area: step2;
  @extend %steps;
  & .btn-view-results {
    border-radius: calc(0.25rem + 0.25vw);
    display: block;
    height: calc(1.5rem + 1vw);
    margin: 0 auto;
    padding: 0 calc(0.5rem + 0.5vw);
    @extend %transition-hover;
    &:hover {
      background-color: $secondary-color;
    }
    &:focus {
      border: 4px solid $secondary-color;
    }
  }
}

.step-3 {
  grid-area: step3;
  @extend %steps;
  & h4 {
    color: $primary-color;
  }
  & span.last {
    display: none;
  }
}