<div class="grid-container">

  <div class="copy-intro">
    <p>
      Have a question about drug interactions? Use the screening tool below to 
      identify possible interactions between prescription medications, 
      over-the-counter (OTC) medications, and herbal supplements. 
    </p>
  </div>

  <div class="copy-disclaimer">
    <p>
      DISCLAIMER: The information provided here is not intended to be used as a
      substitute for professional medical advice, diagnosis, or treatment. The
      information obtained by using this screening tool is for educational 
      purposes only. Please check with your healthcare provider if you have any 
      questions or concerns. This tool provides no guarantee concerning the 
      accuracy of the information contained herein.
    </p>
  </div>

  <div class="step-1">
    <h3>Step 1</h3>
    <p>
      Type in the names of prescription medications, OTC medications, and/or
      herbal supplements that you want to check for interactions. 
    </p>
    <p>
      Click the "+Add Another Medication" button if you want to check additional 
      medications for drug interactions, otherwise proceed to Step 2.
    </p>
    <form id="medForm" [formGroup]="medGroup" (ngSubmit)="onSubmit()">
      <div formArrayName="meds">
        <button class="btn-add-medication" type="button" (click)="medFormAddField()">+Add Another Medication</button>
        <label *ngFor="let field of meds.controls; let i=index">
          <input type="text" [formControlName]="i">
          <button class="btn-delete" type="button" (click)="medFormDeleteField(i)">x</button>
        </label>
      </div>
    </form>
  </div>

  <div class="step-2">
    <h3>Step 2</h3>
    <p>
      Click the button below after you have entered all of the medications that 
      you want to check.
    </p>
    <p>
      Note: brand name drugs are converted to their generic equivalents.
    </p>
    <button class="btn-view-results" type="submit" form="medForm" [disabled]="!medGroup.valid">Check for Interactions</button>
  </div>

  <div class="step-3">
    <h3>Step 3</h3>
    <p>View, print, or save your results to your device. Saved results are in .pdf format.</p>
    <h4>Medications (Generic):</h4>
    <span *ngFor="let medUserInput of diUserInput">
      {{ medUserInput.name }}
    </span>
    <ul>
      <li *ngFor="let med of diMedications | keyvalue">
        {{ med.key }} <span *ngIf="med.value.length !== 0">({{ med.value }})</span>
      </li>
    </ul>
    
    <h4>Drug Interactions:</h4>
    <ul>
      <li *ngFor="let interaction of diInteractions">
        {{ interaction }}
      </li>
    </ul>

    <div class="copy-nlm-disclaimer">
      <h4>Disclaimer:</h4>
      <p>
        This product uses publicly available data from the U.S. National 
        Library of Medicine (NLM), National Institutes of Health, Department of 
        Health and Human Services; NLM is not responsible for the product and does 
        not endorse or recommend this or any other product.
      </p>
      <p>{{ diDisclaimer}}</p>
    </div>
  </div>

</div>