@import '../../colors';

%copy {
  border-radius: calc(0.5rem + 0.5vw);
  color: white;
  font-size: calc(1rem + 0.125vw);
  padding: 0 calc(1rem + 1vw);
}

.copy-intro {
  background-color: $primary-color;
  grid-area: intro;
  @extend %copy;
}

.copy-disclaimer {
  background-color: $quarternary-color;
  grid-area: discl;
  @extend %copy;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-auto-rows: minmax(15vh, auto);
  grid-gap: calc(1rem + 1vw);
  grid-template-areas:
    "intro"
    "discl"
    "step1"
    "step2"
    "step3";
  padding: calc(1rem + 1vw);
}

@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "intro intro discl discl"
    "step1 step1 step2 step2"
    ". step3 step3 .";
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "intro intro intro discl discl discl"
      "step1 step1 step2 step2 step3 step3";
  }
}

%steps {
  text-align: center;
  & h3 {
    color: $primary-color;
  }
}

.step-1 {
  grid-area: step1;
  @extend %steps;
  & button {
    background-color: $primary-color;
    border: none;
    border-radius: calc(0.25rem + 0.25vw);
    color: white;
    font-size: calc(1rem + 0.1vw);
    height: calc(1.5rem + 1vw);
    padding: 0 calc(0.5rem + 0.5vw);
    transition: 0.2s ease-in;
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
      transition: 0.2s ease-out;
    }
  }
  & input {
    border: 2px solid $tertiary-color;
    border-radius: calc(0.25rem + 0.25vw);
    height: calc(1.5rem + 0.5vw);
    margin-bottom: calc(1rem + 0.25vw);
    padding: 0 calc(0.25rem + 0.25vw);
    width: 100%;
    &:focus {
      border: 2px solid $secondary-color;
      box-shadow: none;
      outline: none;
    }
  }
}

.step-2 {
  grid-area: step2;
  @extend %steps;
}

.step-3 {
  grid-area: step3;
  @extend %steps;
}