<div class="grid-container">

  <!-- Introducton -->
  <mat-card class="copy-intro" role="region">
    <p>
      Have a question about drug interactions? Use the screening tool below to 
      identify possible interactions between prescription medications, 
      over-the-counter (OTC) medications, and herbal supplements. 
    </p>
    <p>
      Follow Steps 1, 2, and 3 below to get started.
    </p>
  </mat-card>

  <!-- Disclaimer -->
  <mat-card class="copy-disclaimer" role="region">
    <p>
      DISCLAIMER: The information provided here is not intended to be used as a
      substitute for professional medical advice, diagnosis, or treatment. The
      information obtained by using this screening tool is for educational 
      purposes only. Please check with your healthcare provider if you have any 
      questions or concerns. This tool provides no guarantee concerning the 
      accuracy of the information contained herein.
    </p>
  </mat-card>

  <!-- Step 1 -->
  <mat-card class="step-1" role="region">
    <mat-card-header>
      <mat-card-title>Drug Interaction Search Tool</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Use the fields below to type in the names of prescription medications, 
      over-the-counter (OTC) medications, and/or herbal supplements that you want 
      to check for interactions.
    </mat-card-content>
    <mat-card-content>
      Click the "+Add Another Medication" button if you want to check additional 
      medications, otherwise proceed to Step 2 after you have finished.
    </mat-card-content>
    <form id="medForm" [formGroup]="medGroup" (ngSubmit)="onSubmit()" role="form">
      <div formArrayName="meds">

        <mat-toolbar>
          <h4 class="">Medications</h4>
          <button class="add-medication-button" type="button" mat-raised-button color="primary" (click)="medFormAddFormControl()" aria-label="Add another medication input field">+ Add</button>
        </mat-toolbar>

        <mat-toolbar-row *ngFor="let fc of meds.controls; let i = index; last as isLast" [ngClass]="{ 'last': isLast }">
        
          <mat-form-field>
            <input matNativeControl type="text" [attr.list]="'atSuggestion' + i" autocomplete="off" [formControlName]="i" aria-label="Type in a medication">
          </mat-form-field>

          <datalist [id]="'atSuggestion' + i">
            <span *ngFor="let atSuggestion of fc.atSuggestions">
              <option value="{{ atSuggestion }}">
            </span>
          </datalist>

          <svg class="delete-button-svg" (click)="medFormDeleteFormControl(i)" aria-label="Delete this medication input field">
            <use xlink:href="#svg-delete-button" />
          </svg>
        </mat-toolbar-row>

      </div>
    </form>
  </mat-card>

  <!-- Step 2 -->
  <div class="step-2">
    <h3>Step 2</h3>
    <p>
      Click the button below after you have entered all of the medications that 
      you want to check. The results will be displayed under Step 3.
    </p>
    <button class="btn-view-results" type="submit" form="medForm" [disabled]="!medGroup.valid">Check for Interactions</button>
    <p>
      Note: brand name drugs are converted to their generic equivalents.
    </p>
  </div>

  <!-- Step 3 -->
  <div class="step-3">
    <h3>Step 3</h3>
    <div *ngIf="step3ResultsStatus === 'pending' || step3ResultsStatus === 'noResults' || step3ResultsStatus === 'received'">
      Drug interaction search results for:
      <span *ngFor="let userinput of diUserInput; last as isLast">
        <span>"{{ userinput }}"</span>
        <span [ngClass]="{ 'last': isLast }">, </span>
      </span> 
    </div>
    <div *ngIf="step3ResultsStatus === 'idle'">
      <p>
        If any drug interactions are found for the medications entered in Step 1 
        then they will be displayed here after clicking the "Check for 
        Interactions" button in Step 2.
      </p>
    </div>
    <div *ngIf="step3ResultsStatus === 'pending'">
      <p>
        Results are pending...
      </p>
    </div>
    <div *ngIf="step3ResultsStatus === 'noResults'">
      <p>
        Either no drug interactions were found, or the connection timed out. 
        This application is a work in progress. Consult another resource or a 
        healthcare provider for further questions.
      </p>
    </div>
    <div *ngIf="step3ResultsStatus === 'received'">
      <p>Coming Soon: view, print, or save your results to your device. Results are saved in .pdf format.</p>
      <h4>Medications (Generic):</h4>
      <ul>
        <li *ngFor="let med of diMedications | keyvalue">
          {{ med.key }} <span *ngIf="med.value.length !== 0">({{ med.value }})</span>
        </li>
      </ul>
      <h4>Drug Interactions:</h4>
      <ul>
        <li *ngFor="let interaction of diInteractions">
          {{ interaction }}
        </li>
      </ul>
      <div class="copy-nlm-disclaimer">
        <h4>Disclaimer:</h4>
        <p>
          This product uses publicly available data from the U.S. National 
          Library of Medicine (NLM), National Institutes of Health, Department of 
          Health and Human Services; NLM is not responsible for the product and does 
          not endorse or recommend this or any other product.
        </p>
        <p>{{ diDisclaimer}}</p>
      </div>
    </div>
    <div *ngIf="step3ResultsStatus === 'error'">
      <p>
        There was an error with the request: {{ diError }}
      </p>
    </div>
  </div>
</div>