@import '../../colors';

// ---------- Copy ------------------------------------------------------------

%copy {
  color: white;
  font-size: calc(1rem + 0.125vw);
}

.copy-intro {
  background-color: $primary-color;
  grid-area: intro;
  @extend %copy;
}

.copy-disclaimer {
  background-color: $quarternary-color;
  grid-area: discl;
  @extend %copy;
}

// ---------- Main Grid -------------------------------------------------------

.grid-container {
  display: grid;
  grid-auto-rows: minmax(15vh, auto);
  grid-gap: calc(1rem + 1vw);
  grid-template-areas:
    "intro"
    "discl"
    "dsrch"
    "drslt";
  grid-template-columns: 1fr;
  padding: calc(1rem + 1vw);
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
    ".     intro intro intro discl discl discl .    "
    ".     dsrch dsrch dsrch dsrch dsrch dsrch .    "
    ".     drslt drslt drslt drslt drslt drslt .    ";
    grid-template-columns: repeat(8, 1fr);
  }
}

// ---------- Drug Interactions Search Tool & Results --------------------------

%mat-card-title-and-content {
  & mat-card-content {
    font-size: calc(1rem + 0.125vw);
  }
  & mat-card-title {
    color: $primary-color;
    font-size: calc(1rem + 0.5vw);
  }
}

%mat-toolbar-header {
  & mat-toolbar {
    & h4 {
      font-size: calc(1rem + 0.25vw);
    }
  }
}

.drug-interactions-search-tool {
  grid-area: dsrch;
  font-size: calc(1rem + 0.125vw);
  @extend %mat-card-title-and-content;
  @extend %mat-toolbar-header;
  & .delete-button-svg {
    fill: $primary-color;
    height: calc(1rem + 0.5vw);
    stroke: white;
    width: calc(1rem + 0.5vw);
    transition: 0.1s ease-in;
    &:hover {
      cursor: pointer;
      fill: red;
      transition: 0.1s ease-out;
    }
  }
  & .drug-interactions-search-button {
    display: block;
    margin: calc(0.5rem + 0.5vw) auto 0 auto;
  }
  & .medications-toolbar-header {
    & button { flex: 0 1 auto; }
    & h4 { flex: 1 1 auto; }
  }

  // Do not nest this within the "mat-toolbar" selector because mat-toolbar wraps
  // dynamically-*ngFor-generated <mat-toolbar-row> elements and those elements
  // can be created before the following & mat-form-field {} CSS rule has a 
  // chance to take effect.
  & mat-form-field {
    width: 100%;
  }
}

.drug-interactions-search-results {
  grid-area: drslt;
  @extend %mat-card-title-and-content;
  @extend %mat-toolbar-header;
  & .drug-interactions-user-input {
    & span.last {
      display: none;
    }
  }
  & .drug-interactions-results-received {
    padding: calc(1rem + 0.25vh) 0;
    height: auto;
  }
}