
<!-- SVG Sprite Sheet -->
<svg 
  version="1.1" 
  xmlns="http://www.w3.org/2000/svg" 
  xmlns:xlink="http://www.w3.org/1999/xlink"
  style="display: none;"
>

  <!-- Logo -->
  <symbol id="logo" viewBox="0 0 50 50">
    <g transform="translate(-80 -60)">
      <path class="logo-capsule" d="M10,0c5.523,0,10,4.951,10,11.058V38.942C20,45.049,15.523,50,10,50S0,45.049,0,38.942V11.058C0,4.951,4.477,0,10,0Z" transform="translate(80 60)" />
      <circle class="logo-pill-top" cx="11" cy="11" r="11" transform="translate(108 60)" />
      <circle class="logo-pill-bottom" cx="11" cy="11" r="11" transform="translate(108 88)" />
    </g>
  </symbol>

  <!-- Delete Button -->
  <symbol id="delete-button" viewBox="0 0 100 100">

    <g transform="translate(-2655 -276)">
      <circle class="asdf" cx="50" cy="50" r="50" transform="translate(2655 276)"/>
      <g transform="translate(1216.333 -1962.405) rotate(45)">
        <line y2="50" transform="translate(2671.5 540.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="10"/>
        <line y2="50" transform="translate(2696.5 565.5) rotate(90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="10"/>
      </g>
    </g>

  </symbol>
  
</svg>
